<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace 命名空间 绑定一个mapper接口-->
<mapper namespace="com.hls.dao.UserMapper">
    <select id="getUserList" resultType="com.hls.pojo.User">
        select * from name.info;
    </select>
    
    <select id="getUserById" parameterType="int" resultType="com.hls.pojo.User">
        select * from name.info where id = #{id};
    </select>
    <insert id="addUser" parameterType="com.hls.pojo.User">
        insert into name.info (name,address,ago,birthday) values(#{name},#{address},#{ago},#{birthday});
    </insert>
    <update id="Update" parameterType="com.hls.pojo.User">
        update name.info set birthday = #{birthday} where id = #{id};
    </update>

</mapper>