<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace 命名空间 绑定一个mapper接口-->
<mapper namespace="com.hls.dao.UserDao">
    <select id="getUserList" resultType="com.hls.pojo.User">
        select * from name.info;
    </select>
</mapper>